<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Gaslands</title>

<link rel="shortcut icon" type="image/x-icon" c href="/pictures/favicon.ico">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" id="bootstrap-css">
<link rel="stylesheet" href="/bootstrap-table//bootstrap-table.min.css ">

<link rel="stylesheet " href="/font-awesome/css/font-awesome.css ">
<script type="text/javascript" src="/colyseus.js/colyseus.js"></script>

<script src="/jquery/jquery.min.js"></script>
<script src="/phaser/phaser.min.js"></script>
<script src="./scripts/classes/RaceObject.js"></script>
<script src="./scripts/classes/Vehicule.js"></script>
<script src="./scripts/classes/Template.js"></script>
<script src="./scripts/classes/Tile.js"></script>
<script src="./scripts/classes/Position.js"></script>
<script src="./scripts/Scenes/race/RaceScene.js"></script>
<script src="./scripts/Scenes/race/RaceScene_Client.js"></script>
<script src="./scripts/pages/client_race.js"></script>