                <div id="card-container-photo">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Photo</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                {% include 'common/templates/cards/photo_card/img_photo_card.html' %}

                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                Settings (à définir)
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function shoot_photo(task)
                    {
                        jQuery("#photo-button-text").toggleClass("d-none")
                        jQuery("#photo-button-sending").toggleClass("d-none")
                        jQuery("#photo-button").prop('disabled', true);
                        console.log(toggle_task_state(task))
                    }

                </script>