{% set task = PossibleTasks.PA_STREAM_VIDEO -%}
                    <div id="card-container-photo">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Camera</strong>
                        </div>
                        <div class="card-body">
                            <div class="row mx-auto d-block">
                                 {% with it=item %}
                                    {% include 'common/templates/cards/camera_card/img_cam_streaming.html' %}
                                {% endwith %}
                            </div>
                            <div class="row">

                                <button id="{{task}}-start-button" type="button"
                                        onclick="toggle_read_task_in_cards('{{task}}')"
                                        class="btn btn-lg btn-info btn-block"
                                        style="overwrite:none">
                                    <i class="fa fa-play fa-lg"></i>&nbsp;
                                    <span id="proximity-start-button-text" >Start</span>
                                    <span id="proximity-start-button-sending" class="d-none">Sending…</span>
                                </button>
                                <br/> <br/>
                                <button id="{{task}}-stop-button" type="button"
                                        onclick="toggle_read_task_in_cards('{{task}}')"
                                        class="btn btn-lg btn-danger btn-block d-none"
                                        style="overwrite:none">
                                    <i class="fa fa-stop fa-lg"></i>&nbsp;
                                    <span id="proximity-stop-button-text" class="d-none"  >Stopped</span>
                                    <span id="proximity-stop-button-sending" >Stop</span>
                                </button>
                                <script>
                                    console.log("idi")
                                    manage_buttons_in_cards("{{task}}")
                                    console.log("ada")
                                </script>

                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                Settings (à définir)
                            </div>
                        </div>
                    </div>
                </div>
