<nav class="top-nav-area w-100">
    <div class="user-panel">
        <a href="">Login</a> / <a href="">Register</a>
    </div>
    <!-- Menu -->
    <ul class="main-menu primary-menu">
        <li><a href="index">Home</a></li>
        <li><a href="games">Games</a>
            <ul class="sub-menu">
                <li><a href="game-single">Game Singel</a></li>
            </ul>
        </li>
        <li><a href="reviews">Reviews</a></li>
        <li><a href="blog">News</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>