<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="<%=params.bg %>">
    <div class="page-info">
        <h2>
            <%=params.pageName%>
        </h2>
        <div class="site-breadcrumb">
            <%- include('./template_breadcrumb.ejs', {breadcrumb: params.breadcrumb}); %>
        </div>
    </div>
</section>
<!-- Page top end-->